:root {
    --FerrariRed:#CD212A;
    --FerrariYellow: #FFF200;
    --FerrariGreen: #008C45;
    --Black: #000000;
    --White: #FFFFFF;
    --NissanBlue: #001DC5;
    --Silver: #6f6f6f;
    --MidnightPurple: #1b0343;
}

html {
    background-color: var(--FerrariYellow);
    background-image: url(png-photos/ferrari-ges-seeklogo.png);
}
body {
    height: 100%;
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 1%;
}
main {
    background-color: var(--FerrariYellow);
}
h1, h2, h3, h4 {
    background-color: var(--FerrariGreen);
    font-size: 28px;
    color: var(--Black);
    padding: 2%;
    margin: 0.5%;
}
h2 {
    background-color: var(--FerrariRed);
    color: var(--Black);
    font-size: 22px;
    margin-bottom: 0%;
}
a {
    background-color: var(--White);
    border:2px solid var(--MidnightPurple);
    border-radius:5px 5px 5px 5px; 
    color: var(--Black);
    margin-left: 3px;
    padding: 5px;
    text-decoration:none;
    font-size: 15px;
    margin: 2%;
    padding: 0.5%;
}
nav {
    text-align: center;
    color: var(--Black);
    padding: 2%;
    margin: 0.5%;
}
nav a {
    background-color: var(--White);
    border:2px solid var(--MidnightPurple);
    border-radius:5px 5px 0 0; 
    color: var(--NissanBlue);
    margin-left: 3px;
    padding: 5px;
    text-decoration:none;
}
p {
    background-color: var(--FerrariYellow);
    border: 2px solid var(--White);
    font-size: 14px;
    color: var(--Black);
    padding: 2%;
    margin: 0.5%;
}
table {
    background-color: var(--FerrariRed);
    width: 100%;
    border-collapse: collapse;
    border: 2px solid ; /* Add outer border */
}
th, td {
    color: var(--White);
    border: 1px solid var(--Black); /* Add lines to cells */
    padding: 8px;
    text-align: left;
}
th {
    color: var(--Black);
}
textarea {
    margin: 2%;
    padding: 0.5%;
}
input {
    background-color: var(--White);
    font-size: 16px;
    margin: 2%;
    padding: 0.5%;
}
select {
    font-size: 16px;
    margin: 2%;
    padding: 0.5%;
}
legend {
    background-color: var(--FerrariYellow);
    color: var(--Black);
    font-size: 16px;
    margin-top: 2%;
    margin-bottom: 0.5%;
    margin-left: 2px;
    padding: 0.5%;
}
strong {
    padding: 2%;
    font-size: 16px;
}
input {
    background-color: var(--Black);
    border:3px solid var(--White);
    border-radius:5px 5px 5px 5px; 
    color: var(--White);
    margin-left: 2px;
    text-decoration: none;
    font-size: 15px;
    margin: 2%;
    padding: 0.5%;
}
fieldset {
    background-color: var(--FerrariYellow);
    border-color: var(--Black);
}
label {
    color: var(--Black);
}
footer {
    background-color: var(--MidnightPurple);
    color: var(--FerrariYellow);
    margin-top: auto;
    margin: 0% 0% 2%;
    padding: 0.5%;
}
.gallery { 
    display: flex;
    flex-flow: row wrap;     /* Required for responsive layout. */
    margin:0; 
    padding:0;
}

.gallery figure {            /* Modify all of these values to improve your design. */
    width: 800px;  
    background-color: var(--White);
    border:2px solid var(--Silver);
    margin:1%; 
    padding:1%;
}

.gallery figcaption {
    display:block;
    color: var(--body-dark-green); 
    padding: 2% 1% 2% 1%;     /* Modify to improve spacing. */
}

.gallery img  {
    width:100%;
    margin:0;
    padding:0;
}

.gallery iframe {
    width:100%;
    height:200px;
}