<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Rare Car Imports</title>
    <link rel="icon" type="image/png" href="/img/ferrari-ges-seeklogo.png">

</head>
<body>

    {{{body}}}

</body>
</html>