<!-- 
# Citation for the following files: main.hbs
2 # Date: 2/20/2025
3 # Adapted from nodejs-starter-app by CS 340 Instructional Staff
4 # Used their instruction and skeleton code to implement the main.hbs file
5 # Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app
-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Rare Car Imports</title>
    <!-- obtained from https://www.stickpng.com/img/transport/cars/ferrari/ferrari-emblem-logo -->
    <link rel="icon" type="image/png" href="/img/ferrari-ges-seeklogo.png"> 
</head>
<body>

    {{{body}}}

</body>
</html>