<html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/main.css" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Rare Car Imports</title>
    </head>
    
    <body>
        <header>
            <h1>Rare Car Imports</h1>
        </header>
    
        <nav>
            <a href="/">Home</a>
            <a href="/diagram">Schema Diagram</a>
            <a href="/cars">Cars</a>
            <a href="/customers">Customers</a>
            <a href="/locations">Locations</a>
            <a href="/transactions">Transactions</a>
            <a href="/transactionCars">Transactions Details</a>
        </nav>
    
        <main>
            <h2>Customers</h2>
            <br>
            <table id="customers-table">
                <thead>
                    <tr>
                        <th>Edit</th>
                        <th>Delete</th>
                        <th>Name</th>
                        <th>Contact Number</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each data}}
                    <tr data-value={{this.customerID}}>
                        <td><button class="update_button">Edit</button></td>
                        <td><button class="delete_button">Delete</button></td>
                        <td>{{this.name}}</td>
                        <td>{{this.contactNumber}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </main>
        <main id="insert">
            <form method="POST" id="addCustomer">
                <legend><strong>Add Customer</strong></legend>
                <fieldset class="fields">
                    <label> Name: </label> <input type="text" name="Name" placeholder="Enter Here...">
                    <br>
                    <label> ContactNumber: </label> <input type="text" name="ContactNumber" placeholder="Enter Here...">
                </fieldset>
                <br>
                <input class="btn" type="submit" id="addCustomer" value="Add Customer">
                <input class="btn" type="button" value="Cancel" onClick="">
            </form>
        </main>
        <br>
        <footer>
            <p>&copy; 2025 Leo Zimmer / YuPheng Xiong</p>
        </footer>
    </body>
</html>