
<html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/main.css" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Rare Car Imports</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="/js/deleteCar.js"></script> 
    </head>
    
    <body>
        <header>
            <h1>Cars</h1>
        </header>
    
        <nav>
            <a href="/">Home</a>
            <a href="/diagram">Schema Diagram</a>
            <a href="/cars">Cars</a>
            <a href="/customers">Customers</a>
            <a href="/locations">Locations</a>
            <a href="/transactions">Transactions</a>
            <a href="/transactionCars">Transactions Details</a>
        </nav>
        <main id="delete" style="display: block">
            <form method="POST" id="deleteCar">
                <legend><strong>Delete Car</strong></legend>
                <fieldset class="fields">
                    <p style="background-color: #CD212A;"><strong>HOLD UP!!! Are you sure you want to delete this car?</strong></p>
                    <label> <strong>Car Name</strong> </label> 
                    <select name="input-carMake" id="input-carMake-ajax">
                        <option value="">Select a Car</option>
                        {{#each data}}
                        <option value="{{this.carID}}">{{this.Make}} {{this.Model}}</option>
                        {{/each}}
                     </select>
                </fieldset>
                <br>
                <button type="button" class="delete-btn" onclick="deleteCar()">Delete</button>
                <a onclick="" href="/cars">Cancel</a>
            </form>
        </main>
    </body>
</html>