

<html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/main.css" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Rare Car Imports</title>
    </head>
    
    <body>
        <header>
            <h1>Customers</h1>
        </header>
    
        <nav>
            <a href="/">Home</a>
            <a href="/diagram">Schema Diagram</a>
            <a href="/cars">Cars</a>
            <a href="/customers">Customers</a>
            <a href="/locations">Locations</a>
            <a href="/transactions">Transactions</a>
            <a href="/transactionCars">Transactions Details</a>
        </nav>
        <main id="delete" style="display: block">
            <legend><strong>Delete Customer</strong></legend>
            <fieldset class="fields">
                <p style="background-color: #CD212A;"><strong>HOLD UP!!! Are you sure you want to delete this customer?</strong></p>
                <label> <strong>Customer Name</strong> </label> 
                <select name="input-customer" id="input-customer-ajax">     {{! handlebars dropdown that is dynamically filled with data }}
                    <option value="">Select a Customer</option>
                    {{#each data}}
                    <option value="{{this.customerID}}">{{this.name}}</option>     {{! displays the make and model of each customer }}
                    {{/each}}
                    </select>
            </fieldset>
            <br>
            <button type="button" class="delete-btn" onclick="deleteCustomer()">Delete</button>    {{! onClick it calls the deleteCustomer() js function in deleteCustomer.js }}
            <a onclick="" href="/customers">Cancel</a>                                             {{! onClick it goes back to customers.hbs }}
        </main>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="/js/deleteCustomer.js"></script> 
    </body>
</html>
