

<html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/main.css" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Rare Car Imports</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="/js/deleteTransaction.js"></script> 
    </head>
    
    <body>
        <header>
            <h1>Transactions</h1>
        </header>
    
        <nav>
            <a href="/">Home</a>
            <a href="/diagram">Schema Diagram</a>
            <a href="/cars">Cars</a>
            <a href="/customers">Customers</a>
            <a href="/locations">Locations</a>
            <a href="/transactions">Transactions</a>
            <a href="/transactionCars">Transactions Details</a>
        </nav>
        <main id="delete" style="display: block">
            <legend><strong>Delete Transaction</strong></legend>
            <fieldset class="fields">
                <p style="background-color: #CD212A;"><strong>HOLD UP!!! Are you sure you want to delete this Transaction?</strong></p>
                <label> <strong>Transaction Name</strong> </label> 
                <select name="input-transaction" id="input-transaction-ajax">     {{! handlebars dropdown that is dynamically filled with data }}
                    <option value="">Select a Transaction</option>
                    {{#each data}}
                    <option value="{{this.salesID}}">{{this.transactionDate}} {{this.customerName}}</option>     {{! displays the date and customer of each Transaction }}
                    {{/each}}
                    </select>
            </fieldset>
            <br>
            <button type="button" class="delete-btn" onclick="deleteTransaction()">Delete</button>    {{! onClick it calls the deleteTransaction() js function in deleteTransaction.js }}
            <a onclick="" href="/transactions">Cancel</a>                                             {{! onClick it goes back to transactions.hbs }}
        </main>
    </body>
</html>
