<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/main.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Rare Car Imports</title>
    </head>
    <body>
        <header>
            <h1>Rare Car Imports</h1>
        </header>
        <nav>
            <a href="/">Home</a>
            <a href="/diagram">Schema Diagram</a>
            <a href="/cars">Cars</a>
            <a href="/customers">Customers</a>
            <a href="/locations">Locations</a>
            <a href="/transactions">Transactions</a>
            <a href="/transactionCars">Transactions Details</a>
        </nav>
        <main>
            <h2>Locations</h2>
            <br>
            <table id="locations-table">
                <thead>
                    <tr>
                        <th>Edit</th>
                        <th>Delete</th>
                        <th>Location Name</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each data}}
                    <tr data-value={{this.locationID}}>
                        <td><button class="update_button">Edit</button></td>
                        <td><button onclick="window.location.href='/deleteLocation'">Delete</button></td> {{! delete button routes to deleteLocation.hbs }}
                        <td>{{this.locationName}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </main>
        <main id="insert">
            <form method="POST" id="addLocation" action="/add-location-form"> {{! form at the bottom of the page to add a location }}
                <legend><strong>Add Location</strong></legend>
                <fieldset class="fields">
                    <label> Location Name: </label> <input type="text" name="input-Location" placeholder="Enter Here...">
                </fieldset>
                <br>
                <input class="btn" type="submit" id="addlocation" value="Add Location">  {{! onClick it POSTs the form and the app.js route gets the data }}
            </form>
        </main>
        <footer>
            <p>&copy; 2025 Leo Zimmer / YuPheng Xiong</p>
        </footer>
    </body>
</html>
